<div class="app-content">
    <div class="group">
        <form role="form" class="form" (submit)="register()">
            <h4>Create a new account.</h4>
            <br>
            <mat-input-container>
                <input matInput type="text" required [(ngModel)]="register.email" id="register" name="register">
                <mat-placeholder>
                    <i class="material-icons app-input-icon">email</i>Email
                </mat-placeholder>
            </mat-input-container>
            <br>
            <br>
            <mat-input-container>
                <input matInput type="password" required [(ngModel)]="register.password" id="password" name="password">
                <mat-placeholder>
                    <i class="material-icons app-input-icon">lock_open</i>Password
                </mat-placeholder>
            </mat-input-container>
            <br>
            <br>
            <mat-input-container>
                <input matInput type="password" required [(ngModel)]="register.confirmPassword" id="confirmPassword" name="confirmPassword">
                <mat-placeholder>
                    <i class="material-icons app-input-icon">lock_open</i>Confirm Password
                </mat-placeholder>
            </mat-input-container>
            <br>
            <br>
            <button mat-raised-button color="warn" type="submit" name="action">Register</button>
            <br>
            <br>
            <span id="err">
                <small>{{error}}</small>
            </span>
        </form>
    </div>
</div>